rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.token.email in [
        "godannyyy@gmail.com"
      ];
    }

    match /news-images/{allPaths=**} {
      allow read, write: if isAdmin();
    }

    match /gallery-images/{allPaths=**} {
      allow read, write: if isAdmin();
    }
  }
}